#navbar{
  background-color: black;
  .menu a{
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    &.is-active{
      background-color: transparent;
    }
  }
}
.js-quickedit-page-title{
  text-align: center;
}
